@using HNXTPRLGate.Resources;
@using APIMonitor.ObjectInfo;
@model BoxConnectModel;

<div class="container">
    <div class="group">
        <div class="group__inner v1">
            <div id="mainData">
                @await Html.PartialAsync("~/Views/Home/_BoxConnect.cshtml", Model)
            </div>
        </div>

        <div class="group__inner">
            <fieldset>
                <legend>Error</legend>
                <div class="group__box infomation">
                    <div class="box">
                        <div class="box__head">
                            @Resource.lblApplicationError
                        </div>
                        <div class="box__body" id="ApplicationErrorID">
                            @await Html.PartialAsync("par_ApplicationError", Model.ApplicationError)
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="group__box refresh">
                <button><em class="fa-solid fa-arrows-rotate"></em></button>
                <div class="refresh__info">
                    <span id="countdown"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var timeleft = 5;
    var downloadTimer = setInterval(function () {
        //console.log("--init", timeleft);
        if (timeleft <= 0) {
            clearInterval(downloadTimer);
            document.getElementById("countdown").innerHTML = timeleft + " seconds auto refresh";
            ReloadData();
        } else {
            document.getElementById("countdown").innerHTML = timeleft + " seconds auto refresh";
        }
        timeleft -= 1;
    }, 1000);

    function GetListApplicationErrorByPage(pageIndex){
        $.ajax({
            type: "GET",
            url: "/Home/ApplicationErrorPaging",
            data: {
                "pageIndex": pageIndex,
            },
            beforeSend: function () {
                SpinLoading(true);
            },
            success: function (data) {
                $("#ApplicationErrorID").html(data);
            },
            complete: function () {
                SpinLoading(false);
            }
        });
    }
</script>