<div class="over-flow-x">
	<table class="tablelist">
		<thead>
			<tr>
				<th class="number">No</th>
				<th style="text-align:left">Message reject (35=3)</th>
				<th style="text-align:left">Time</th>
				<th style="text-align:left">Rejected Sequence</th>
				<th style="text-align:left">Order No</th>
				<th style="text-align:left">Ref Message Type</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="number" style="text-align:center">1</td>
				<td style="text-align:left"></td>
				<td style="text-align:left"></td>
				<td style="text-align:left"></td>
				<td style="text-align:left"></td>
				<td style="text-align:left"></td>
			</tr>
			<tr>
				<td class="number" style="text-align:center">2</td>
				<td style="text-align:left"></td>
				<td style="text-align:left"></td>
				<td style="text-align:left"></td>
				<td style="text-align:left"></td>
				<td style="text-align:left"></td>
			</tr>
		</tbody>
	</table>
</div>

<script></script>