.header {
    position: sticky;
    top: 0;
    z-index: 2;
}

.loading-container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 999;
}
.loading {
    height: 160px;
    width: 170px;
    position: fixed;
    top: 50%;
    margin: 0px;
    padding: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.circle {
    border: 5px transparent solid;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 69%;
}

.cyan {
    top: 0px;
    border-top: 5px #00AB55 solid;
    animation-delay: 4s;
    animation: cyan 1.5s infinite;
}

    /*:after element = circle at the end of each line.
:before element = cap in be start of each line*/
    .cyan:after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        background: #00AB55;
        border-radius: 69%;
        right: 5px;
        top: 10px;
        box-shadow: 0px 0px 20px #00AB55;
    }

    .cyan:before {
        content: " ";
        width: 5px;
        height: 5px;
        position: absolute;
        background: #00AB55;
        top: 10px;
        left: 11px;
        border-radius: 69%;
    }

.magenta {
    left: 0px;
    bottom: 0px;
    border-top: 5px #00AB55 solid;
    animation: magenta 1.5s infinite;
}

    .magenta:after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        background: #00AB55;
        border-radius: 69%;
        right: 5px;
        top: 10px;
        box-shadow: 0px 0px 20px #00AB55;
    }

    .magenta:before {
        content: " ";
        width: 5px;
        height: 5px;
        position: absolute;
        background: #00AB55;
        top: 10px;
        left: 11px;
        border-radius: 69%;
    }

.yellow {
    right: 0px;
    bottom: 0px;
    border-top: 5px #00AB55 solid;
    animation: yellow 1.5s infinite;
}

    .yellow:after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        background: #00AB55;
        border-radius: 69%;
        right: 5px;
        top: 10px;
        box-shadow: 0px 0px 20px #00AB55;
    }

    .yellow:before {
        content: " ";
        width: 5px;
        height: 5px;
        position: absolute;
        background: #00AB55;
        top: 10px;
        left: 11px;
        border-radius: 69%;
    }

.group__inner.v1 {
    max-width: 1250px;
}

    .group__inner.v1 #mainData {
        display: grid;
        gap: 24px;
    }

.group__inner {
    height: 100%;
}

.group__inner:last-child fieldset {
    height: calc(100vh - 226px);
}

.group__inner:last-child .box__body {
    height: calc(100vh - 329px);
}

.group__inner:last-child .box__body #popup-data {
    overflow-wrap: break-word;
    word-break: break-all;
}

.group__box {
    padding: 0;
    background: unset;
}
    
    .group__box-list {
        display: unset;
    }

    .group__box-list.v1 .value {
        max-width: 270px !important;
    }

    .group__box-list > fieldset {
        /*display: grid;
        grid-template-columns: auto auto;*/
        display: flex;
        gap: 16px;
    }

    .group__box-list .box {
        flex: 1;
    }

    .group__box.infomation .box__head {
        font-size: 14px;
        line-height: 22px;
        padding: 16px 12px;
    }

    .group__box.infomation .popup {
        z-index: 999;
    }

    .group__box.infomation .border-css {
        z-index: 1;
        position: relative;
    }

    .group__box.infomation .border-css::-webkit-scrollbar-track {
        border: 0;
        border-bottom: 1px solid #434141;
    }

    .group__box-access fieldset {
        min-height: 358px;
        max-height: 358px;
    }

    .group__box-access .block__wrap {
        display: grid;
        gap: 20px;
    }

    .group__box-access .block__wrap .container {
        padding: 0;
    }

    .group__box-access .block__wrap .over-flow-x {
        
    }

    .group__box-access .box__search {
        display: flex;
        align-items: center;
    }

    .group__box-access .box__search .box__search-title {
        padding-right: 40px;
    }

    .group__box-access .box__search .box__search-control.v1 {
        padding-right: 15px;
        position: relative;
    }

        .group__box-access .box__search .box__search-control.v1:after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 12px;
            width: 15px;
            height: 15px;
            background: url(../assets/image/icon/ic_search.svg) no-repeat center center;
        }

    .group__box-access .box__search-control.v1 input {
        width: 100%;
        min-width: 400px;
        height: 36px;
        border: unset;
        border-radius: 14px;
        padding: 10px 32px;
    }

        .group__box-access .box__search-control.v1 input:focus-visible {
            outline-color: unset;
        }

    .group__box-access .box__search .box__search-control button {
        background-color: #0984e3 !important;
    }

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

    table th, table td {
        border: 1px solid #878B87;
        border-collapse: collapse;
        padding: 7px 5px;
        height: 30px !important;
        font-weight: 600;
        line-height: 15px;
        padding: 3px 2px 2px 3px;
        white-space: nowrap;
    }

    table th {
        text-align: center;
        background-color: #313b45;
        color: #bcbcbc;
        border: 1px solid #555;
        border-left: 0;
    }

    table td {
        word-break: break-word;
        font-size: 12px;
        color: #dedede;
        border: 1px solid #434141;
        border-top: 0;
        border-left: 0;
        line-height: 1.7;
    }

    table.no-border th, table.no-border td {
        border: none;
        padding: 5px;
    }

.tablelist {
    border-collapse: separate;
}

.tablelist thead th {
    border-right: 1px solid #4b4646;
}

.tablelist thead .number {
    border-left: 1px solid #4b4646;
}

.tablelist tbody .number {
    border-left: 1px solid #434141;
}

.tablelist tbody tr:nth-of-type(odd) {
    background: #182530;
}

.tablelist tbody tr:nth-of-type(even) {
    background-color: #212d38;
}

.table-container .over-flow-x {
    overflow: auto;
    max-width: 100%;
}

.main {
    padding: 24px 0;
}

/* Styles scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border: 1px solid #434141;
    border-left: 0;
}

::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 5px;
}

/* Styles pagination */
.pagination {
    padding: 12px 16px;
    border: 1px solid #434141;
    border-top: 0;
}

.pagination .box__action:last-child > .btn {
    padding-right: 0;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    padding: 8px 20px 20px;
    border: 1px solid rgba(145, 158, 171, 0.24);
    border-radius: 16px;
}

legend {
    width: unset;
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
    margin-bottom: unset;
}

@keyframes cyan {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes magenta {
    0% {
        transform: rotate(240deg);
    }

    100% {
        transform: rotate(600deg);
    }
}

@keyframes yellow {
    0% {
        transform: rotate(120deg);
    }

    100% {
        transform: rotate(480deg);
    }
}