<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!--linux ${basedir}/log/${shortdate}-info.log-->
    <!-- Log hệ thống-->
    <target xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="104857600" maxArchiveDays="30" archiveFileName="${basedir}/log/archives/HNXTPRLGate-warn.log" name="warn_target" fileName="${basedir}\log\${shortdate}\HNXTPRLGate-warn.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="threadname" layout="${threadname:whenEmpty=${threadid}}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="methodName" layout="${callsite}" />
        <attribute name="line" layout="${callsite-linenumber}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>

    <target xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="104857600" maxArchiveDays="30" archiveFileName="${basedir}/log/archives/HNXTPRLGate-info.log" name="info_target" fileName="${basedir}\log\${shortdate}\HNXTPRLGate-info.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="threadname" layout="${threadname:whenEmpty=${threadid}}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="methodName" layout="${callsite}" />
        <attribute name="line" layout="${callsite-linenumber}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>

    <target xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="104857600" maxArchiveDays="30" archiveFileName="${basedir}/log/archives/HNXTPRLGate-debug.log" name="debug_target" fileName="${basedir}\log\${shortdate}\HNXTPRLGate-debug.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="threadname" layout="${threadname:whenEmpty=${threadid}}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="methodName" layout="${callsite}" />
        <attribute name="line" layout="${callsite-linenumber}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>

    <target xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="104857600" maxArchiveDays="30" archiveFileName="${basedir}/log/archives/HNXTPRLGate-error.log" name="error_target" fileName="${basedir}\log\${shortdate}\HNXTPRLGate-error.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="threadname" layout="${threadname:whenEmpty=${threadid}}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="methodName" layout="${callsite}" />
        <attribute name="line" layout="${callsite-linenumber}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>

    <!--Log cho phần kết nối tcp HNX-->
    <target  name="logTcpHNX_info_target"  xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="104857600" maxArchiveDays="30" archiveFileName="${basedir}/log/archives/HNXTPRL-TCP-info.log" fileName="${basedir}\log\${shortdate}\HNXTPRL-TCP-info.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="threadname" layout="${threadname:whenEmpty=${threadid}}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="methodName" layout="${callsite}" />
        <attribute name="line" layout="${callsite-linenumber}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>

    <target  name="logTcpHNX_warn_target"  xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="104857600" maxArchiveDays="30" archiveFileName="${basedir}/log/archives/HNXTPRL-TCP-warn.log" fileName="${basedir}\log\${shortdate}\HNXTPRL-TCP-warn.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="threadname" layout="${threadname:whenEmpty=${threadid}}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="methodName" layout="${callsite}" />
        <attribute name="line" layout="${callsite-linenumber}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>

    <target  name="logTcpHNX_error_target"  xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="104857600" maxArchiveDays="30" archiveFileName="${basedir}/log/archives/HNXTPRL-TCP-error.log" fileName="${basedir}\log\${shortdate}\HNXTPRL-TCP-error.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="threadname" layout="${threadname:whenEmpty=${threadid}}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="methodName" layout="${callsite}" />
        <attribute name="line" layout="${callsite-linenumber}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>

    <target  name="logTcpHNX_debug_target"  xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="104857600" maxArchiveDays="30" archiveFileName="${basedir}/log/archives/HNXTPRL-TCP-debug.log" fileName="${basedir}\log\${shortdate}\HNXTPRL-TCP-debug.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="threadname" layout="${threadname:whenEmpty=${threadid}}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="methodName" layout="${callsite}" />
        <attribute name="line" layout="${callsite-linenumber}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>
    <!--Log cho phần api-->
    <target  name="logApi_info_target"  xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="104857600" maxArchiveDays="30" archiveFileName="${basedir}/log/archives/HNXTPRL-Api-info.log" fileName="${basedir}\log\${shortdate}\HNXTPRL-Api-info.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="threadname" layout="${threadname:whenEmpty=${threadid}}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="methodName" layout="${callsite}" />
        <attribute name="line" layout="${callsite-linenumber}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>

    <target  name="logApi_warn_target"  xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="104857600" maxArchiveDays="30" archiveFileName="${basedir}/log/archives/HNXTPRL-Api-warn.log" fileName="${basedir}\log\${shortdate}\HNXTPRL-Api-warn.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="threadname" layout="${threadname:whenEmpty=${threadid}}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="methodName" layout="${callsite}" />
        <attribute name="line" layout="${callsite-linenumber}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>
    <target  name="logApi__error_target"  xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="104857600" maxArchiveDays="30" archiveFileName="${basedir}/log/archives/HNXTPRL-Api-error.log" fileName="${basedir}\log\${shortdate}\HNXTPRL-Api-error.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="threadname" layout="${threadname:whenEmpty=${threadid}}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="methodName" layout="${callsite}" />
        <attribute name="line" layout="${callsite-linenumber}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>
    <target  name="logApi_debug_target"  xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="104857600" maxArchiveDays="30" archiveFileName="${basedir}/log/archives/HNXTPRL-Api-debug.log" fileName="${basedir}\log\${shortdate}\HNXTPRL-Api-debug.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="threadname" layout="${threadname:whenEmpty=${threadid}}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="methodName" layout="${callsite}" />
        <attribute name="line" layout="${callsite-linenumber}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>
    <!--Log cho phần MW-->
    <target  name="logResponse_info_target"  xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="104857600" maxArchiveDays="30" archiveFileName="${basedir}/log/archives/HNXTPRL-Api-info.log" fileName="${basedir}\log\${shortdate}\HNXTPRL-Response-info.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="threadname" layout="${threadname:whenEmpty=${threadid}}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="methodName" layout="${callsite}" />
        <attribute name="line" layout="${callsite-linenumber}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>

    <target  name="logResponse_warn_target"  xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="104857600" maxArchiveDays="30" archiveFileName="${basedir}/log/archives/HNXTPRL-Response-warn.log" fileName="${basedir}\log\${shortdate}\HNXTPRL-Response-warn.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="threadname" layout="${threadname:whenEmpty=${threadid}}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="methodName" layout="${callsite}" />
        <attribute name="line" layout="${callsite-linenumber}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>

    <target  name="logResponse_error_target"  xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="104857600" maxArchiveDays="30" archiveFileName="${basedir}/log/archives/HNXTPRL-Response-error.log" fileName="${basedir}\log\${shortdate}\HNXTPRL-Response-error.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="threadname" layout="${threadname:whenEmpty=${threadid}}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="methodName" layout="${callsite}" />
        <attribute name="line" layout="${callsite-linenumber}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>

    <target  name="logResponse_debug_target"  xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="104857600" maxArchiveDays="30" archiveFileName="${basedir}/log/archives/HNXTPRL-Response-debug.log" fileName="${basedir}\log\${shortdate}\HNXTPRL-Response-debug.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="threadname" layout="${threadname:whenEmpty=${threadid}}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="methodName" layout="${callsite}" />
        <attribute name="line" layout="${callsite-linenumber}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>
    <!--<target xsi:type="File" name="target4" fileName="${basedir}/log/error-${shortdate}.log"
				layout="${longdate} ${level:uppercase=true} ${callsite}:[${callsite-linenumber}] - ${message}"/>-->

    <!--${callsite:className=Boolean:fileName=Boolean:includeSourcePath=Boolean:methodName=Boolean}-->
    <!--${callsite:className=true:methodName:true:fileName=true:includeSourcePath=false} - ${message} ${exception:format=tostring}-->
    <!--${callsite}:line ${callsite-linenumber}-->

  </targets>

  <rules>

    <!--Bỏ qua k ghi những thông tin về hệ thống mặc định-->
    <logger name="Microsoft.*" minlevel="Info" writeTo="" final="true" />
    <logger name="Microsoft.*" minlevel="Debug" writeTo="" final="true" />
    <logger name="Grpc.*" minlevel="Info" writeTo="" final="true" />
    <logger name="Grpc.*" minlevel="Debug" writeTo="" final="true" />


    <!--Log cho các phần Api, tcp, MW-->
    <logger name="loghnxtcp" levels="Info" writeTo="logTcpHNX_info_target" final="true" />
    <logger name="loghnxtcp" levels="Warn" writeTo="logTcpHNX_warn_target" final="true" />
    <logger name="loghnxtcp" levels="Error" writeTo="logTcpHNX_error_target" final="true" />
    <logger name="loghnxtcp" levels="Debug" writeTo="logTcpHNX_debug_target" final="true" />

    <logger name="loghnxapi" levels="Info" writeTo="logApi_info_target" final="true" />
    <logger name="loghnxapi" levels="Warn" writeTo="logApi_warn_target" final="true" />
    <logger name="loghnxapi" levels="Error" writeTo="logApi_error_target" final="true" />
    <logger name="loghnxapi" levels="Debug" writeTo="logApi_debug_target" final="true" />

    <logger name="loghnxrp" levels="Info" writeTo="logResponse_info_target" final="true" />
    <logger name="loghnxrp" levels="Warn" writeTo="logResponse_warn_target" final="true" />
    <logger name="loghnxrp" levels="Error" writeTo="logResponse_error_target" final="true" />
    <logger name="loghnxrp" levels="Debug" writeTo="logResponse_debug_target" final="true" />

    <!--Log vào file mặc định-->
    <logger name="*" levels="Warn" writeTo="warn_target" final="true" />
    <logger name="*" levels="Info" writeTo="info_target" final="true" />
    <logger name="*" levels="Debug" writeTo="debug_target" final="true" />
    <logger name="*" levels="Error" writeTo="error_target" final="true" />

  </rules>
</nlog>


